<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover" />
    <title>QaFun2019</title>
</head>
<body>
    <div id="root"></div>
{#    <script type="text/javascript" src="http://localhost:3000/main.bundle.js"></script>#}
{#    <script type="text/javascript" src="http://localhost:3000/vendors~main.bundle.js"></script>#}
{#    <script type="text/javascript" src="http://localhost:3000/vendors~main~socketio.bundle.js"></script>#}

    <script type="text/javascript" src={{ url_for('static', filename="porco-rosso/main.bundle.js") }}></script>
{#    <script type="text/javascript" src={{ url_for('static', filename="porco-rosso/vendors~main~tab_barrage.bundle.js") }}></script>#}
{#    <script type="text/javascript" src={{ url_for('static', filename="porco-rosso/vendors~main~tab_barrage~tab_home~tab_reward~tab_vote.bundle.js") }}></script>#}
</body>
</html>
